*{
    margin: 0;
    padding: 0;
  }
  
  html,body,#app{
    height: 100%;
    min-height: 840px;
    /* max-width: 750px; */
    margin: 0 auto;
    color: white;
    /* font-family: "黑体"; */
  }
  
  body{
    font-size: 20px;
  }
  html{
    /* font-size: 13.333333333vw; */
    background-color: black;
  }
  :root:root {
    --van-cell-background:rgba(255, 255, 255, 0) !important;
}
.van-nav-bar__title{
  font-size: 14px;
  letter-spacing: 10px ;



}
.van-uploader__preview{
  /* width: 311px; */
}
.van-uploader__upload{
  border: 1px solid white;
   border-radius: 10px !important;
   overflow: hidden;

}
@font-face {
  font-family: '方正黑体简体';
  src: url('@/assets/font/方正黑体简体.TTF') format('truetype');
}
@font-face {
  font-family: '方正楷体简体';
  src: url('@/assets/font/方正楷体简体.ttf') format('truetype');
}
@font-face {
  font-family: '汉仪雅酷黑75W';
  src: url('@/assets/font/汉仪雅酷黑75W.ttf') format('truetype');
}
@font-face {
  font-family: 'YouSheBiaoTiHei-2';
  src: url('@/assets/font/YouSheBiaoTiHei-2.ttf') format('truetype');
}